<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>
    <% var xax;%>
    <% var arr =[];%>   
    <div class="col-sm">
        <table class="table table-dark">
            <th>
                Username
            </th>
            <%  for(var i=1;i<=daysm;i++){ %>    
                <%  if(i<10){ xax = "0"+i.toString(); } else{ %>
                        <%     xax = i.toString(); } %>
                        <%   xax = xax + "/5/2020"; %>
                        <th><%= xax.substring(0, 2) %></th>
                <% arr.push(xax); %>
                <% } %>
        <% worker.forEach(function(work){ %>
            <tr>
                <td>
            <%= work.username %>
                </td>
               
            </tr>
            
            <%}) %>

            
            
            
    </table>
    </div>
</div>

    
    
 <%- include("../partials/footer") %>
    