<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    
    <table class="table">
        <th>Username</th>
        <th>Count</th>
        <% for(var i=1; i<workers.length; i++) { %>
            <tr>
                <td><%= workers[i].username %></td>
                <% for(var j=0; j<ipad.length; j++) { %>
                    <% for(var k=0;k<fileRows.length; k++) { %>
                    <% if(ipad[j].ipaddress === fileRows[k].ipaddress){ %>
                        <% if(workers[i].username === ipad[j].username){ %>
                            <% wooo++ %>
                        <% } %>
                        
                    <% } %>
                    
                <% } %>
            <% } %>
            <td><%= wooo %></td>
            <% wooo = 0 %>
            </tr>
        <% } %>
        </table>
    
    
    
 <%- include("../partials/footer") %>
    