<%- include("../partials/header") %>
<% var cool; %>

<div class="col-sm-9">
    <table class="table table-dark">
        <th>Username</th>
        <th>Offer 1</th>
        <th>Offer 2</th>
        <th>Offer 3</th>
        <th>Offer 4</th>
        <th>Offer 5</th>
        <th>Total</th>
        <% for(var i=1;i<workers.length;i++) { %>
            <tr>
                <td><%= workers[i].username %></td>
                <% for(var k=0;k<fileRows.length;k++) { %>
                <% cool = ipad.filter(x => x.username == workers[i].username && x.ipaddress == fileRows[k].offer1) %>
                <% if(cool && cool.length){ %>
                    <% wooo++ %>
                <% } %>
                <% cool = ipad.filter(x => x.username == workers[i].username && x.ipaddress == fileRows[k].offer2) %>
                <% if(cool && cool.length){ %>
                    <% wooo1++ %>
                <% } %>
                <% cool = ipad.filter(x => x.username == workers[i].username && x.ipaddress == fileRows[k].offer3) %>
                <% if(cool && cool.length){ %>
                    <% wooo2++ %>
                <% } %>
                <% cool = ipad.filter(x => x.username == workers[i].username && x.ipaddress == fileRows[k].offer4) %>
                <% if(cool && cool.length){ %>
                    <% wooo3++ %>
                <% } %>
                <% cool = ipad.filter(x => x.username == workers[i].username && x.ipaddress == fileRows[k].offer5) %>
                <% if(cool && cool.length){ %>
                    <% wooo4++ %>
                <% } %>
            <% } %>
            <% totalsum = (wooo+wooo1+wooo2+wooo3+wooo4) %>
            <td><%= wooo %></td>
            <td><%= wooo1 %></td>
            <td><%= wooo2 %></td>
            <td><%= wooo3 %></td>
            <td><%= wooo4 %></td>
            <td><%= totalsum %></td>
            </tr>
            <% colsum1 += wooo %>
            <% colsum2 += wooo1 %>
            <% colsum3 += wooo2 %>
            <% colsum4 += wooo3 %>
            <% colsum5 += wooo4 %>
            
            <% wooo  = 0 %>
            <% wooo1 = 0 %>
            <% wooo2 = 0 %>
            <% wooo3 = 0 %>
            <% wooo4 = 0 %>
            <% } %>
            <tr>
                <% rowsum = colsum1+colsum2+colsum3+colsum4+colsum5 %>
                <td>Count</td>
                <td><%= colsum1 %></td>
                <td><%= colsum2 %></td>
                <td><%= colsum3 %></td>
                <td><%= colsum4 %></td>
                <td><%= colsum5 %></td>
                <td><%= rowsum %></td>
            </tr>
            
            
        </table>
    </div>
    
    
 <%- include("../partials/footer") %>
    