<%- include("../partials/header") %>
  
<div class="col-sm-10">

    <% for(var i=0;i<offurl.length;i++){ %>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"><strong><%= offurl[i].offername %></strong></label>
            <form action="/admin/offers/<%=offurl[i]._id%>/?_method=DELETE" method="POST">
            <div class="col-sm-8">
                <div class="input-group input2">                
                <input class="form-control formoffers" type="text" value="<%= offurl[i].offerurl %>" readonly>
                <div class="input-group-append">
                    <button class="btn btn-danger">Delete</button>
                    </form>
                    <form action="/admin/offers/<%=offurl[i]._id%>/" method="POST">
                        <% if(offurl[i].toggle === false){ %>
                        <div class="col-sm-1"><input class="btn btn-danger" type="submit" name="off" value="off"></div>    
                        <% } else { %>
                        <div class="col-sm-1"><input class="btn btn-success" type="submit" name="on" value="on"></div>
                         <% } %>
                    </form>
                    
                  </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <form action="/admin/offers/<%=offurl[i]._id%>/?_method=PUT" method="POST">
                    <input type="number" min="1" max="10" name="pri" value="<%= offurl[i].priority %>">
                    <button class="btn btn-info">SET</button>
                </form>
            </div>
        </div>
        
    <% } %>
    <hr>
    <form action="/admin/offers" method="POST">
        <fieldset>
        
        <!-- Form Name -->
        <h4>Add Offers </h4>
        
        <!-- Text input-->
        <div id="itemsfor" class="form-group">
          
            <div class="margin-bottom">
            <input id="textinput" name="offername" type="text" placeholder="Enter Name of Offer" class="form-control input-md">
            <input id="textinput" name="offerurl" type="text" placeholder="Enter URL of Offer" class="form-control input-md">
            
            </div>
        </div>
        
        <button class="btn btn-info">Submit</button>
        <hr></hr>
        </fieldset>
        </form>
       
    </div>
          




<%- include("../partials/footer") %>