<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    <div class="col-sm-11">
        <table class="table">
            <tr>
                <th>Count</th>
                <th>Date</th>
                <th>Time</th>
                <th>Username</th>
                <th>IP</th>
                <th>Mac</th>
            </tr>
    <% macva.forEach(function(campground,index){ %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= campground.date %></td>
            <td><%= campground.time %></td>
            <td><%= campground.username %></td>
            <td><%= campground.ipaddress %></td>
            <td><%= campground.macadd %></td>
        </tr>
    <% }); %>
        </table>
    </div>
</div>

    
    
 <%- include("../partials/footer") %>
    