<%- include("../partials/header") %>

<div class="row">
    <div class="col-sm-1">
        <div class="sidebar">
            <a href="/admin/todaywork">Today's Work</a>
            <a href="/admin/register">Register User</a>
            <a href="/admin/dataleft">Data Left</a>
            <a href="/admin/userwork">Indvidual Work</a>
            <a href="/admin/attendance">Attendance</a>
            <a href="/admin/salary">Salary</a>
            <a href="/admin/performance">User Performance</a>
            <a href="/admin/accounts">Accounts</a>

        </div>
    </div>
    <div class="col-sm-11">
        <table class="table">
            <tr>
                <th>Count</th>
                <th>Date</th>
                <th>Username</th>
                <th>IP</th>
                <th>Time</th>
            </tr>
    <% today.forEach(function(campground,index){ %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= campground.date %></td>
            <td><%= campground.username %></td>
            <td><%= campground.ipaddress %></td>
            <td><%= campground.time %></td>
        </tr>
    <% }); %>
        </table>
    </div>
</div>

    
    
 <%- include("../partials/footer") %>
    