<%- include("partials/header") %>
<div class="row toprow">
      <div class="col-sm">
          <h1 class="display-4">Your IP Address is  <%= ip %> </h1>
            <table class="table">
                <tr>
                    <th>Region Code</th>
                    <th>Region Name</th>
                    <th>Country Name</th>
                </tr>
                <tr>
                    <th><%= xa %></th>
                    <th><%= xar %></th>
                    <th><%= xac %></th>
                </tr>
            </table>
          <a href="/data">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </a>
      </div>
    </div>



<%- include("partials/footer") %>